<div class="categoria-list">
    @for (categoria of categoriaList; track categoria) {
      <div class="categoria-card">
        <h3 class="categoria-titulo">{{ categoria.nombre }}</h3>
        <p class="categoria-descripcion">ID: {{categoria.id}}</p>
        <p class="categoria-descripcion">{{ categoria.descripcion }}</p>
        @if (areActionsAvailable) {
          <button (click)="callUpdateModalMethod.emit(categoria)" class="btn btn-success btn-editar">Editar</button>
          <button (click)="callDeleteMethod.emit(categoria)" class="btn btn-danger">Eliminar</button>
        }
      </div>
    } @empty {
      <p>No hay categorías disponibles.</p>
    }
  </div>