@if(areActionsAvailable) {
    <app-categoria-form
        [form]="categoriaForm"
        (callSaveMethod)="saveCategoria($event)"
    />
  }
  
  
  <app-categoria-list
      [categoriaList]="categoriaService.categorias$()"
      (callUpdateModalMethod)="openEditCategoriaModal($event)"
      (callDeleteMethod)="deleteCategoria($event)"
  />
  
  <app-pagination
  [service]="categoriaService"
  />
  
  <ng-template #editCategoriaModal>
    <app-modal
      [hideFooter]="true"
    >
      <div>
         <app-categoria-form
          [form]="categoriaForm"
          (callUpdateMethod)="updateCategoria($event)"
          />
      </div>
    </app-modal>
  </ng-template>